body{
  background-color: #eeeeee;
}

.head{
  background-color:red;
  color:white;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.title{
  font-size: 30px;
  line-height: 50px;
  padding-left: 30px;
}

.login{
  font-size: 10px;
  margin-right: 30px;
  line-height: 50px;
}

.head a{
  text-decoration: none;
  color:white;
}

.menu{
  font-size:30px;
  padding-top: 10px;
}

.menus{
  color:pink;
}

.container{
  background-color: white;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a{
  text-decoration: none;
  color:pink;
}

.link{
  background-color: red;
  color:white;
  height:30px;
  width:150px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

input{
  background-color: red;
  color:white;
  height:30px;
  width:150px;
  text-align: center;
  line-height: 30px;
  border-color: red;
  font-size: 15px;
}